<!DOCTYPE html>
	<head>
		<title>登录</title>
		<script src="/static/js/jquery-3.4.1.min.js"></script>
	</head>
	<body>
		<div>
			登录名：<input type="text" id="loginName"/><br>
			密码：<input type="password" id="password"/><br>
			验证码：<input type="text" id="verifiedCode"/><img src="/user/changeVerifiedCode"/><br>
			<button id="login">登录</button>
		</div>
	</body>
<script type="text/javascript">
	$(function(){
		$("#login").click(function () {
			$.ajax({
				type: 'PUT',
				data: {
					"loginName":$("#loginName").val(),
					"loginPassword":$("#password").val(),
					"verifiedCode":$("#verifiedCode").val()
				},
				url: "/user/toLogin",
				success: function (data) {
					if (data.success){
						alert("登录成功");
						window.location.href="/";
					}else {
						alert("登录失败");
						location.reload(true);
					}
				}
			});
		});
	});
</script>
</html>